body {
    background-color: var(--background);
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--text);
}

:root {
    --background: rgb(220, 223, 228);
    --text: #282828;
    --card: white;
    --cardHover: #E9EBEE;
    --switch: #282828;
    --switch-ball: white;
    --grey: #646475;
}

.container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    width: 80%;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.input-container #searchBox {
    width: 100%;
    border-style: none;
    border-radius: 18px;
    margin: 12px 0 10px;
    padding: 5px 18px;
    font-size: 1.1em;
    color: var(--text);
    box-sizing: border-box;
}

.input-container i {
    position: absolute;
    top: 19px;
    right: 12px;
    color: var(--grey);
    cursor: pointer;
}

.dark-mode {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.switch {
    display: block;
    position: relative;
    background: var(--switch);
    border-radius: 12px;
    width: 44px;
    height: 22px;
    margin-left: 5px;
    cursor: pointer;
}

.switch-ball {
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 18px;
    width: 18px;
    background: var(--switch-ball);
    border-radius: 50%;
    transition: 0.12s ease-in-out;
}

#dark-mode-checkbox:checked ~ .switch > .switch-ball {
    transform: translateX(22px);
}

#dark-mode-checkbox {
    display: none;
}

.cards-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

@keyframes pulse-loading {
    0% {

    }
    50% {
        color: ivory;
    }
    100% {
        color: var(--card);
    }
}

.loading-spinner {
    display: none;
}

.empty {
    color: var(--grey);
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empty span {
    font-size: 1.6em;
    font-weight: 700;
    font-style: italic;
}

.empty i {
    margin: auto;
    font-size: 7em;
    transform: rotate(12deg);
}

.loading {
    color: var(--card);
    font-weight: 700;
    font-size: 1.5em;
    margin: auto;
    transition: 1s ease-in-out;
    animation: 2s pulse-loading infinite;
}

.card {
    width: 30%;
    background-color: var(--card);
    border-radius: 5px;
    margin: 7px 5px;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    animation: slide-up 0.4s ease;
    cursor: pointer;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.card:hover {
    background-color: var(--cardHover);
    box-shadow: none;
    transform: translateY(3px);
}

.card > a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--text);
}

.card picture {
    width: 100%;
}

.card picture img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.card .content {
    margin: 0 5px;
}

.card .title {
    margin: 2px 0;
}

.card .year {
    margin: 2px 0;
}

.card .year i {
    padding: 0 3px 0 1px;
    font-size: 0.9em;
}

.card .ratings {
    margin: 2px 0 4px;
    display: flex;
    align-items: center;
    
}
.card .ratings i {
    padding-right: 3px;
    font-size: 0.8em;
}

#load-more {
    width: 100%;
    font-size: 1.2em;
    background-color: var(--card);
    border-style: none;
    border-radius: 12px;
    color: var(--text);
    padding: 6px;
    transition: 0.2s;
    display: none;
    margin-bottom: 8px;
}
#load-more:hover {
    background-color: var(--cardHover);
    cursor: pointer;
}

.is-dark-mode {
    --background: #2B2F3E;
    --text: ivory;
    --card: #4C5264;
    --cardHover: rgb(104, 112, 136);
    --switch: linear-gradient(to right, #4796d2 0%, #37ce8f 100%);
    --switch-ball: rgb(30, 34, 44);
}

@media screen and (min-width: 650px) {
    .input-container #searchBox {
        font-size: 1.3em;
    }
    .input-container i {
        top: 21px;
    }
    .card {
        width: 23%;
    }
}

@media screen and (min-width: 800px) {
    .card {
        width: 18%;
    }
}

@media screen and (min-width: 1050px) {
    .card {
        width: 11%;
    }
}